spring:
  application:
    name: notification-service

  kafka:
    bootstrap-servers: kafka:9092

server:
  port: 8085

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://service-registry:8761/eureka
