spring:
  application:
    name: order-service
  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka
